name: Release

on:
  pull_request:
    types:
      - closed
      - opened
      - reopened
      - synchronize
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-release-${{ github.ref_name }}
  cancel-in-progress: false

jobs:
  release:
    name: Semantic version release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write # Required for adding the labels to the PR
      issues: write # Required for adding labels to the repository
    outputs:
      release: ${{ steps.get-version.outputs.release }}
      tag: ${{ steps.get-version.outputs.tag }}
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - name: Get semantic version
        uses: RonaldPhilipsen/semVersie@v2.1.0
        id: get-version
        with:
          add-pr-label: true
          label-prefix: false

  deploy:
    name: Deploy package distributions
    needs: release
    if: needs.release.outputs.release == 'true' && github.event.pull_request.merged
    runs-on: ubuntu-latest
    environment: release
    defaults:
      run:
        shell: bash
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ steps.app-token.outputs.token }}

      - name: Set credentials for git
        env:
          APP_SLUG: ${{ steps.app-token.outputs.app-slug }}
          INSTALLATION_ID: ${{ steps.app-token.outputs.installation-id }}
        run: |
          USER_ID=$(gh api "/users/${APP_SLUG}[bot]" --jq .id)
          git config --global user.name "${APP_SLUG}[bot]"
          git config --global user.email "${INSTALLATION_ID}+${USER_ID}[bot]@users.noreply.github.com"

      - name: Update version in pyproject.toml
        env:
          VERSION: ${{ needs.release.outputs.version }}
          TAG: ${{ needs.release.outputs.tag }}
        run: |
          sed -i "s/version = \"0.0.0\"/version = \"${VERSION}\"/" pyproject.toml
          git add pyproject.toml
          git commit -m "chore: bump version to ${VERSION}"
          git tag -a ${TAG} -m "Release ${VERSION}"
          git push -f origin ${TAG}

      - name: Build and publish package distributions
        run: |
          uv sync --no-dev
          uv build
          uv publish

      - name: Create release
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
          TAG: ${{ needs.release.outputs.tag }}
        run: >
          gh release create "${TAG}"
          dist/*.whl
          dist/*.tar.gz
          --generate-notes
          --verify-tag
