name: Release

on:
  pull_request:
    types:
      - closed
      - opened
      - reopened
      - synchronize
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-release-${{ github.ref_name }}
  cancel-in-progress: false

jobs:
  release:
    name: Semantic version release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write # Required for adding the labels to the PR
      issues: write # Required for adding labels to the repository
    outputs:
      release: ${{ steps.get-version.outputs.release }}
      tag: ${{ steps.get-version.outputs.tag }}
    steps:
      - name: Get semantic version
        uses: RonaldPhilipsen/semVersie@v2.1.0
        id: get-version
        with:
          add-pr-label: true
          label-prefix: false

  deploy:
    name: Deploy package distributions
    needs: release
    if: needs.release.outputs.release == 'true' && github.event.pull_request.merged
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ needs.release.outputs.tag }}
          token: ${{ steps.app-token.outputs.token }}

      - name: Build and publish package distributions
        run: |
          uv sync --no-dev
          uv build
          uv publish

      - name: Publish package distributions to GitHub Releases
        id: publish-dist
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.release.outputs.tag }}
          files: |
            dist/*.whl
            dist/*.tar.gz

      - name: Create release
        if: github.event.pull_request.merged && steps.get-version.outputs.release == 'true'
        shell: bash
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: >
          gh release create "${{ steps.get-version.outputs.tag }}"
          dist/*.whl
          dist/*.tar.gz
          --generate-notes
